/* Estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('../images/todolist_image.jpg'); background-size: cover; background-attachment: fixed; background-position: center;
} /* Container principal */
.container {
  width: 100%;
  max-width: 400px;
  background-color: #eaf8ff;
  padding: 20px;
  border: 1px groove black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
} /* Estilo do título */
h1 {
  margin-bottom: 20px;
} /* Estilo do campo de entrada e botão */
.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
}
button {
  padding: 10px;
  border: none;
  background-color: #97f3ff;
  color: #000;
  font-weight: 800;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.7s;
}
button:hover {
  background-color: #0cd1c7c4;
  color: white;
} /* Estilos dos itens da lista */
ul {
  list-style: none;
}
li {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
li .remove-btn {
  color: #e74c3c;
  cursor: pointer;
  font-weight: bolder;
}

